<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>eazzattendance</title>
    <link rel="stylesheet" src="public\css\index.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{{ url_for('home') }}">Home</a></li>
                <li><a href="{{ url_for('logout') }}">Logout</a></li>
            </ul>
        </nav>
    </header>
    
    <div class="content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>
